.pageContainer {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.pagesStyles {
  width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagesStyles button {
  height: 100px;
  width: 300px;
  background: none;
  color: #d44f0d;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: roboto;
  border: 1px solid #d44f0d;
  border-radius: 2.5px;
  cursor: pointer;
  box-shadow: -1px 5px 7px 5px rgb(0 0 0 / 25%);
  transition: all 1s;
}

.pageContainer a {
  font-size: 1rem;
  font-weight: 800;
  font-family: roboto;
  /* padding-left: 3px; */
  width: 15%;
  margin: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  background: #f7c40f;
  padding: 7px;
  border-radius: 20px;
  padding-left: 20px;
}

.pageContainer .letreiroContainer:first-child {
  width: 200px;
  height: 100px;
  font-size: 2rem;
  font-family: roboto;
  font-weight: 700;
  color: #fff;

  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContainer .letreiroContainer:nth-child(2) {
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 700;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #000;
}
